<% layout('layouts/boilerplate') %>



<div class="row">
    <div class="col-6 offset-3">
        <h1>Edit <%=campground.title %></h1>
        <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <!----using  ?_method allows me to force the form to send this as a put request, the reason i write _method is because i defined that in my index file  using methodoverride which I had to downloadfirst --->
            <div class="mb-3">
                <label class="form-label" for="title">title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="title" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class=" mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[imageUrl]"
                    value="<%= campground.imageUrl %>" required>
                <div class="valid-feedback">looks good!</div>
            </div>


            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                        required>
                    <!-- this price label connects the span and the input, if someone is using a screenreader it can help them know what the field is for-->
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required> <%= campground.description %> </textarea>
                <div class="valid-feedback">looks good!</div>
                <!---this campground[] allows me to get the appropriate info for the appropriate area from req.body.campground ---->
            </div>
            <div class=" mb-3">
                <button class="btn btn-warning">update campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">back to campground!</a>

    </div>
</div>